{
	admin off
}

www.bracy.dev {
	tls /etc/caddy/certs/certificate.pem /etc/caddy/certs/key.pem {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/caddy/certs/authenticated_origin_pull_ca.pem
		}
	}
	redir https://bracy.dev{uri} permanent	
}

bracy.dev {
	tls /etc/caddy/certs/certificate.pem /etc/caddy/certs/key.pem {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/caddy/certs/authenticated_origin_pull_ca.pem
		}
	}
	encode zstd gzip
	file_server {
		root /etc/caddy/public_html
	}
	handle_errors {
		@404 expression `{err.status_code} == 404`
		handle @404 {
			rewrite * /404.html
			file_server {
				root /etc/caddy/public_html
			}
		}
	}
}